.reading-app {
  max-width: 1200px;
  margin: 0 auto;
}

.card-book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-book {
  padding: 1rem;
  outline: 1px solid red;
}

.card-book img {
  width: 100%;
  max-width: 138px;
  height: 199px;
  object-fit: cover;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-reading-list {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
  padding: 1rem;
  border-color: transparent;
  background-color: transparent;
}

.toggle-reading-list span {
  font-size: 12px;
  font-weight: 600;
}

.search-box {
  width: 100%;
  border-color: transparent;
  padding: 1rem;
  background-color: var(--cararra);
  border-radius: 10px;
}

.reading-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform .3s ease-in-out;
  background-color: var(--bianca);
  padding: 1.5rem 20px;
}

.reading-list.close {
  transform: translateX(100%);
}

.reading-list.open {
  transform: translateX(0);
}

.reading-list__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reading-list__header button {
  border-color: transparent;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .reading-list__header, .toggle-reading-list {
    display: none;
  }

  .reading-list {
    position: initial;
  }

  .reading-list__section {
    max-width: 800px;
    margin: 0 auto;
  }

  .reading-list.close, .reading-list.open {
    transform: translateX(0);
  }

  .header {
    max-width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .search-box {
    max-width: 300px;
  }

  .card-book-list {
    max-width: 800px;
    margin: 0 auto;
  }
}
