.reading-app {
  max-width: 1200px;
  margin: 0 auto;
}

.card-book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-book {
  padding: 1rem;
  outline: 1px solid red;
}

.card-book img {
  width: 100%;
  max-width: 138px;
  height: 199px;
  object-fit: cover;
}